<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <title>Shopping Cart</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<nav class="w-full bg-green-800 text-white p-4">
    <div class="container mx-auto flex items-center justify-between">
        <div class="text-lg font-semibold">Django Queuebie Shop</div>
    </div>
</nav>
<div class="container mx-auto mt-4">
    {% block content %}{% endblock %}
</div>
</body>
</html>
